# AI
.gemini/

# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
.env
.env.*
.sqlite
*.db
*.log
.pytest_cache/
.mypy_cache/
.ruff_cache/
.uv/

# Node
node_modules/
dist/
dist-ssr/
*.local
.eslintcache
.stylelintcache
*.tsbuildinfo

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
